<div class="modal fade" id="modal-help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h2 class="modal-title" id="myModalLabel">Help</h2>
            </div>
            <div class="modal-body">
                <p>
                    The <a href="http://www.ensembl.org/vep" target="_TOP_">Ensembl Variant Effect Predictor</a> produces
                    <code>
                        .vep
                    </code>
                    files with, among others, protein positioned features of variant.
                    We propose a tool to parse such an output, retrieve the protein sequence from <a href="http://rest.ensembl.org/">Ensembl REST API</a>, and align the features on the sequence,grouped by categories.
                </p>
                <p>
                    <h4>Data sources</h4>
                    Any
                    <code>.vep</code>
                    file can be fitted in the tool, either on of the test set or a loaded local files. Files with up to 1.5M lines can be parsed in a chrome browser in approximately 10 seconds. <h4>Parsed features</h4>
                    Any features with protein position are displayed. By default, only the protein with an <code>ENSP.+</code> identifier can be displayed by default as the sequence is retrieved on a server (change the ensembl REST url in the configuration menu to connect to a local store).
                    <br/>
                    The field in the <code>Extras</code> column are displayed when mousing over a feature

                    <h4>Usage</h4>
                    Enter an <code>gene name</code> to display the related protein.
                    <br/>
                    Zoom in the sequence by dragging the mouse and zoom out by double clicking.

                    <h4>A note to developers</h4>
                        Clone the project, then <code>npm install</code> and <code>grunt server</code>. That should make it work!

                     <h4>Authors</h4>
                    This application is based on the versatile <a href="http://github.com/genentech/pviz">pViz.js: a dynamic JavaScript and SVG library for visualization of protein sequence features</a> JavaScript library, written by <a href="mailto://masselot.alexandre@gene.com">Alexandre Masselot</a> and <a href="mailto://mukhyala.kiran@gene.com">Kiran Mukhyala</a>, from the Bioinfromatics & Computational Biology Department, at <a href="http://www.gene.com">Genentech Inc.</a> Research. <h4>Reference</h4>
                    Please provide a reference to this application by citing:
                    <pre>xxx.xx 2014</pre>
                    <h4>Thanks to</h4>
                    This app is aimed at demonstrating pViz library. But it would never have existed without a myriad of other useful an inspiring projects: <a href="http://d3js.org">d3.js</a>,
                        <a href="http://colorbrewer2.org/">color brewer</a> (and Mike Bostock <a href="http://bl.ocks.org/mbostock/5577023">implementation</a>), <a href="http://gruntjs.com/">grunt</a>, <a href="https://npmjs.org/package/bower">bower</a>, <a href="http://getbootstrap.com/css/">bootstrap</a>, <a href="http://jquery.com/">jquery</a> (and <a href="https://github.com/carhartl/jquery-cookie">$.cookie</a>, <a href="http://backbonejs.org/">backbone</a>, <a href="http://requirejs.org/">require.js</a>, <a href="http://underscorejs.org/">underscore</a>, <a href="http://twitter.github.io/typeahead.js/">typeahead</a>, <a href="http://misoproject.com/dataset/">Miso.dataset</a> and a few others.

                    <h4>Licence</h4>
                    <div style="text-align:justify">
                        Redistribution and use in source and binary forms are permitted
                        provided that the above copyright notice and this paragraph are
                        duplicated in all such forms and that any documentation,
                        advertising materials, and other materials related to such
                        distribution and use acknowledge that the software was developed
                        by the Bioinformatics and Computational Biology Department, Genentech Inc.  The name of the
                        Genentech may not be used to endorse or promote products derived
                        from this software without specific prior written permission.
                        THIS SOFTWARE IS PROVIDED ``AS IS'' AND WITHOUT ANY EXPRESS OR
                        IMPLIED WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE IMPLIED
                        WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.
                    </div>
                </p>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    © Genentech Inc. 2014
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
